p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* MIS ESTILOS*/

/* Personalizacion codigo python*/
span .im{
    color: rgb(16,40,126) !important;
}

/* Centar el texto */
p {
    text-align: justify !important;
}

/* CELULARES*/
/* Imageners al 100% de ancho en celulares*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  img {
    width: 100%; !important;
  }
}